@charset "UTF-8";
/*!
global > color
------------------------------
*/
:root {
  --color-bg-primary-hover: #c8a94b;
  --color-bg-primary: #c5ab5f;
  --color-bg-primary-light: rgba(197, 172, 95, 0.1);
  --color-bg-black: #000000;
  --color-bg-white: #ffffff;
  --color-bg-gray: #d1d1d1;
  --color-bg-gray-light: #f8f8f8;
  --color-bg-gold: #aca56c;
  --color-bg-orange: #d0a85e;
  --color-bg-blue: #6c9dac;
  --color-bg-pink: #ac6ca0;
  --color-bg-green: #6cac7b;
  --color-border-gray: #dddddd;
  --color-border-primary: #c5ab5f;
  --color-border-white: #ffffff;
  --color-font-gray: #c7c7c7;
  --color-font-white: #ffffff;
  --color-font-base: #000000;
}

/*!
global > content-width
------------------------------
*/
:root {
  --width-content-s: 760px;
  --width-content: 1080px;
}

/*!
global > font
------------------------------
*/
:root {
  --font-family-base: "Noto Sans JP", sans-serif;
}

/*!
utility > utility
------------------------------
*/
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

/* resset.dev 窶｢ v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
       # General elements
       # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
       # Forms
       # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
       # Specify media element style
       # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
       # Accessibility
       # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.8;
  font-size: 14px;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
}
@media (width >= 768px) {
  body {
    font-size: 16px;
  }
}

html {
  scrollbar-color: var(--color-bg-gray) rgb(154, 127, 46);
}

/*!
component > button
------------------------------
*/
.c-button {
  color: var(--color-font-white);
  background-color: var(--color-bg-black);
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s;
}
.c-button:hover {
  background-color: var(--color-bg-primary-hover);
}

.c-button-white {
  color: var(--color-font-base);
  background-color: var(--color-bg-white);
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s;
}
.c-button-white:hover {
  background-color: var(--color-bg-primary-hover);
}

@media (width >= 768px) {
  .c-button {
    font-size: 16px;
  }
}
.c-button--size-small {
  width: 100%;
  max-width: 95px;
  height: 24px;
  display: grid;
  place-items: center;
}

.c-button--size-medium {
  width: 100%;
  max-width: 180px;
  border-radius: 100px;
  height: 45px;
  display: grid;
  place-items: center;
}

.c-button--center {
  margin: 0 auto;
}

/*!
component > pagination
------------------------------
*/
.c-pagination {
  width: 35px;
  height: 35px;
  background-color: var(--color-bg-gray);
}

.c-pagination-black {
  width: 35px;
  height: 35px;
  background-color: var(--color-bg-black);
  color: var(--color-font-white);
}

/*!
component > thumbnail
------------------------------
*/
.c-thumbnail:hover,
.c-thumbnail-large:hover {
  opacity: 0.5;
}

.c-thumbnail {
  max-width: 324px;
  background-color: var(--color-bg-gray-light);
  color: var(--color-font-gray);
}

@media (width >= 768px) {
  .c-thumbnail {
    max-width: 344px;
  }
}
.c-thumbnail-large {
  max-width: 760px;
  background-color: var(--color-bg-gray-light);
  color: var(--color-font-gray);
}

/*!
component > articles
------------------------------
*/
.c-articles {
  display: grid;
  gap: 40px;
  grid-template-columns: 1, 1fr;
}

@media (width >= 768px) {
  .c-articles {
    gap: 40px 24px;
    grid-template-columns: 3, 1fr;
  }
}
/*!
component > title
------------------------------
*/
.c-title-small,
.c-title-medium {
  color: var(--color-font-black);
}

.c-title--center {
  text-align: center;
}

.c-title-small {
  font-size: 20px;
  line-height: 1;
}

@media (width >= 768px) {
  .c-title-small {
    font-size: 26px;
  }
}
.c-title-medium {
  font-size: 20px;
  line-height: 1.6;
}

@media (width >= 768px) {
  .c-title-medium {
    font-size: 26px;
  }
}
/*!
layout > container
------------------------------
*/
.l-container, .l-container-s {
  width: 90%;
  margin: 0 auto;
}

.l-container-s {
  max-width: var(--width-content-s);
}

.l-container {
  max-width: var(--width-content);
}

/*!
layout > footer
------------------------------
*/
.footer {
  background-color: rgba(197, 171, 95, 0.1);
}

.footer-container {
  width: 100%;
  background-image: url(../../img/footer/bg-cta-sp.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (width >= 768px) {
  .footer-container {
    width: 100%;
    background-image: url(../../img/footer/bg-cta.png);
    flex-direction: row-reverse;
  }
}

.footer-container-pc {
  height: 183px;
}

.footer-container-pc img {
  width: 324px;
  height: auto;
}
@media (width >= 768px) {
  .footer-container-pc img {
    width: 304px;
  }
}

.footer-container-items {
  margin-top: 24px;
  flex-direction: column;
}
@media (width >= 768px) {
  .footer-container-items {
    margin: 0 40px 0 0;
  }
}

.footer-container-items img {
  margin: 0 auto;
}
@media (width >= 768px) {
  .footer-container-items img {
    width: 415px;
    height: 49px;
  }
}

.footer-container-items p {
  font-size: 12px;
  color: var(--color-font-white);
  text-align: center;
  margin-top: 5px;
}
@media (width >= 768px) {
  .footer-container-items p {
    font-size: 14px;
    text-align: start;
    margin-top: 12px;
    line-height: 1;
  }
}

@media (width >= 768px) {
  .footer-container-items div {
    margin: 16px 0 0 0;
  }
}

.footer-container-items span {
  font-weight: bold;
}

@media (width >= 768px) {
  .footer-main {
    max-width: 1080px;
  }
}

.footer-text-logo img {
  width: 100%;
  height: auto;
  max-width: 323px;
  max-height: 42px;
}
@media (width >= 768px) {
  .footer-text-logo img {
    max-width: 380px;
    max-height: 45px;
  }
}
@media (width >= 1080px) {
  .footer-text-logo img {
    max-width: 466px;
    max-height: 50px;
  }
}

.footer-text-wrapper {
  margin-top: 16px;
}

.footer-text {
  font-size: 12px;
  line-height: 1.75;
}

.footer-icons {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.footer-icon {
  width: 32px;
  height: 32px;
}

.footer-list {
  margin-top: 32px;
}
@media (width >= 768px) {
  .footer-list {
    margin-top: -16px;
  }
}

.footer-list-link {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media (width >= 768px) {
  .footer-list-link {
    justify-content: flex-end;
  }
}

.footer-list-link li {
  font-size: 12px;
}

.footer-list-link li ::after {
  content: "/";
}

.footer-list-link a {
  text-decoration: none;
  color: var(--color-font-base);
}

.copyright {
  margin-top: 40px;
  text-align: center;
  border-top: solid var(--color-border-gray);
}

/*!
layout > header
------------------------------
*/
.header {
  width: 100%;
}

.header-container {
  display: flex;
  width: 90%;
  height: 65px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media (width >= 768px) {
  .header-container {
    width: 80%;
    height: 75px;
  }
}

.header-container a {
  display: flex;
}

.header-items {
  display: flex;
  gap: 8px;
}

.header-items:nth-child(1) {
  margin-right: auto;
}

.header-logo-img img {
  display: flex;
}
@media (width >= 768px) {
  .header-logo-img img {
    width: 320px;
    height: 41px;
  }
}

.header-icon {
  width: 32px;
  height: 32px;
}

.header-nav {
  height: 40px;
  background-color: var(--color-bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (width >= 768px) {
  .header-nav {
    font-size: 14px;
  }
}

.header-menu {
  width: 90%;
  overflow-x: auto;
}
@media (width >= 768px) {
  .header-menu {
    width: 80%;
  }
}

.header-menu-list {
  width: max-content;
  display: flex;
  list-style: none;
}
.header-menu-list a:hover {
  color: gray;
}

.header-menu-list a {
  color: var(--color-font-white);
  text-decoration: none;
}

.header-menu-list li:not(:last-child) {
  padding-right: 32px;
  position: relative;
  display: inline-block;
}

.header-menu-list li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 21px;
  background-color: var(--color-font-white);
  position: absolute;
  top: 3px;
  right: 16px;
}

/*!
layout > section-body
------------------------------
*/
.l-section-body-s {
  margin-top: 24px;
}

.l-section-body-m {
  margin-top: 40px;
}

.l-section-body-l {
  margin-top: 64px;
}

.l-section-body-xl {
  margin-top: 80px;
}

/*!
layout > section
------------------------------
*/
.l-section {
  padding: 56px 0;
}

@media (width >= 768px) {
  .l-section {
    padding: 64px 0;
  }
}

/*# sourceMappingURL=style.css.map */
