@use "../../global/" as g;

/*!
page > top
------------------------------
*/

.top-kv {
  width: 100%;
  padding: 56px 0 8px 0;
  background-image: url(../../img/top/bg-pattern-kv@2x.png);
  background-size: auto;
  background-repeat: repeat;
  text-align: center;

  @include g.min(lg) {
    padding: 46px 0 46px 0;
  }

  @include g.min(xll) {
    padding-right: 5%;
  }
}

.top-kv-container {
  display: inline-block;
  border: solid;
  border-color: var(--color-border-primary);
  border-radius: 16px;

  @include g.min(md) {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    max-width: 650px;
    height: 200px;
  }

  @include g.min(lg) {
    position: relative;
    z-index: 20;
  }

  @include g.min(xl) {
    margin: 0 0 0 10%;
    max-width: 840px;
    height: 273px;
    position: relative;
    z-index: 20;
  }

  @include g.min(xll) {
    margin: auto;
  }
}

.top-kv-thumbnail {
  height: 160px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  @include g.min(md) {
    max-width: 325px;
  }

  @include g.min(lg) {
    max-width: 420px;
  }
}

.top-kv-img-sp {
  width: 100%;
  height: 160px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  @include g.min(md) {
    display: none;
  }
}

.top-kv-img {
  display: none;

  @include g.min(md) {
    display: block;
    max-width: 100%;
    height: 197px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  @include g.min(xl) {
    width: 419px;
    height: 270px;
  }
}

.top-kv-title {
  padding: 16px;
  background-color: var(--color-bg-white);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  @include g.min(md) {
    padding: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 325px;
  }

  @include g.min(xl) {
    max-width: 50%;
    width: 419px;
    height: 270px;
  }
}

.top-kv-title-wrapper {
  @include g.min(md) {
    height: 66%;
    width: 78%;
  }
}

.top-kv-button {
  background-color: var(--color-bg-gold);
  font-size: 12px;
}

.top-kv-text {
  margin-top: 8px;
}

.top-kv-text h1 {
  text-align: start;
  font-size: 18px;
  @include g.min(xl) {
    font-size: 20px;
  }
}

.top-kv-text p {
  text-align: right;
  font-size: 12px;
  color: #666666;

  @include g.min(md) {
    margin-top: 1rem;
  }

  @include g.min(xl) {
    margin-top: 40px;
    margin-right: 32px;
  }
}

.top-kv-icon {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;

  @include g.min(lg) {
    align-items: flex-end;
    margin-top: -180px;
  }

  @include g.min(xl) {
    padding-right: 0;
    width: 1200px;
    margin-top: -280px;
  }
  @include g.min(xll) {
    width: auto;
    min-width: 1300px;
    max-width: 1800px;
    margin-right: auto;
  }
}

.top-kv-pine-img-sp {
 position: relative;
 top: 110px;

  @include g.min(lg) {
    display: none;
  }
}

.top-kv-pine-img {
  display: none;
  

  @include g.min(lg) {
    width: 250px;
    height: 86px;
    display: block;
    margin-bottom: auto;
  }
  @include g.min(xl) {
    position: relative;
    top: 17px;
  }

}

.top-kv-musha-img-sp {
  @include g.min(xl) {
    display: none;
  }
}

.top-kv-musha-img {
  display: none;

  @include g.min(xl) {
    display: block;
    width: auto;
  }
}