@use "../../global/" as g;

.top-post {
  max-width: 324px;
  height: 274px;
  margin: 0 auto;
}

.top-post-type {
  display: flex;
  justify-content: space-between;
}

.top-post-day {
  font-size: 12px;
  color: var(--color-font-gray-light);
}

.top-post-img-sp {
  margin-top: 8px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  @include g.min(md) {
    display: none;
  }
}

.top-post-img {
  display: none;
}

.top-post p{
  font-size: 18px;
  font-weight: bold;
}