/*!
global > color
------------------------------
*/
:root {
  --color-bg-primary-hover: #fcf1cf;
  --color-bg-primary: #c5ab5f;
  --color-bg-primary-light: rgba(197, 172, 95, 0.1);
  --color-bg-black: #000000;
  --color-bg-white: #ffffff;
  --color-bg-gray: #d1d1d1;
  --color-bg-gray-light: #f8f8f8;
  --color-bg-gold: #aca56c;
  --color-bg-orange: #d0a85e;
  --color-bg-blue: #6c9dac;
  --color-bg-pink: #ac6ca0;
  --color-bg-green: #6cac7b;
  --color-border-gray: #dddddd;
  --color-border-primary: #c5ab5f;
  --color-border-white: #ffffff;
  --color-font-gray: #c7c7c7;
  --color-font-white: #ffffff;
  --color-font-base: #000000;
}
