@use "../global/" as g;

/*!
layout > footer
------------------------------
*/

.footer {
  background-color: rgba(197, 171, 95, 0.1);
}

.footer-container {
  width: 100%;
  background-image: url(../../img/footer/bg-cta-sp.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include g.min(md) {
    width: 100%;
    background-image: url(../../img/footer/bg-cta.png);
    flex-direction: row-reverse;
  }
}

.footer-container-pc {
  height: 183px;
}

.footer-container-pc img {
  width: 324px;
  height: auto;

  @include g.min(md) {
    width: 304px;
  }
}

.footer-container-items {
  margin-top: 24px;
  flex-direction: column;

  @include g.min(md) {
    margin: 0 40px 0 0;
  }
}
.footer-container-items img {
  margin: 0 auto;

  @include g.min(md) {
    width: 415px;
    height: 49px;
  }
}

.footer-container-items p {
  font-size: 12px;
  color: var(--color-font-white);
  text-align: center;
  margin-top: 5px;

  @include g.min(md) {
    font-size: 14px;
    text-align: start;
    margin-top: 12px;
    line-height: 1;
  }
}

.footer-container-items div {
  @include g.min(md) {
    margin: 16px 0 0 0;
  }
}

.footer-container-items span {
  font-weight: bold;
}

.footer-main {
  @include g.min(md) {
    width: 80%;
    max-width: none;
  }
}

.footer-text-logo img {
  width: 100%;
  height: auto;
  max-width: 323px;
  max-height: 42px;

  @include g.min(md) {
    max-width: 380px;
    max-height: 45px;
  }

  @include g.min(lg) {
    max-width: 466px;
    max-height: 50px;
  }
}

.footer-text-wrapper {
  margin-top: 16px;
}

.footer-text {
  font-size: 12px;
  line-height: 1.75;
}

.footer-icons {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.footer-icon {
  width: 32px;
  height: 32px;
}

.footer-list {
  margin-top: 32px;

  @include g.min(md) {
    margin-top: -16px;
  }
}

.footer-list-link {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @include g.min(md) {
    justify-content: flex-end;
  }
}

.footer-list-link li {
  font-size: 12px;
}

.footer-list-link li:not(:first-child)::before {
  content: "/";
  padding: 2px;
}

.footer-list-link a {
  text-decoration: none;
  color: var(--color-font-base);
  &:hover {
    opacity: 0.3;
  }

}

.copyright {
  margin-top: 40px;
  text-align: center;
  border-top: solid var(--color-border-gray);
}
