@use "../global/" as g;

/*!
layout > header
------------------------------
*/

.header {
  width: 100%;
}

.header-container {
  display: flex;
  width: 90%;
  height: 65px;
  justify-content: center;
  align-items: center;
  margin: auto;

  @include g.min(md) {
    width: 80%;
    height: 75px;
  }
}

.header-container a {
  display: flex;
}

.header-items {
  display: flex;
  gap: 8px;
}

.header-items:nth-child(1) {
  margin-right: auto;
}

.header-logo-img img {
  display: flex;
  @include g.min(md) {
    width: 320px;
    height: 41px;
  }
}

.header-icon {
  width: 32px;
  height: 32px;
}

.header-nav {
  height: 40px;
  background-color: var(--color-bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;

  @include g.min(md) {
    font-size: 14px;
  }
  
}

.header-menu {
  width: 90%;
  overflow-x: auto;

  @include g.min(md) {
    width: 80%;
  }
}

.header-menu-list {
  width: max-content;
  display: flex;
  list-style: none;
  & a:hover{
    color: gray;
  }
}

.header-menu-list a {
  color: var(--color-font-white);
  text-decoration: none;
}

.header-menu-list li:not(:last-child) {
  padding-right: 32px;
  position: relative;
  display: inline-block;
}

.header-menu-list li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 21px;
  background-color: var(--color-font-white);
  position: absolute;
  top: 3px;
  right: 16px;
}