@use "../global/" as g;

/*!
component > button
------------------------------
*/

.c-button {
  color: var(--color-font-white);
  background-color: var(--color-bg-black);
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s;
  border-radius: 100px;

  &:hover {
    background-color: var(--color-bg-primary-hover);
  }
}

.c-button-white {
  color: var(--color-font-base);
  background-color: var(--color-bg-white);
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--color-bg-primary-hover);
  }
}

@include g.min(md) {
  .c-button {
    font-size: 16px;
  }
}
.c-button--size-small {
  width: 100%;
  max-width: 95px;
  height: 24px;
  display: grid;
  place-items: center;
}

.c-button--size-medium {
  width: 100%;
  max-width: 180px;
  border-radius: 100px;
  height: 45px;
  display: grid;
  place-items: center;
}

.c-button--center {
  margin: 0 auto;
}