@use "../global/" as g;

/*!
component > pagination
------------------------------
*/

.c-pagination {
  width: 35px;
  height: 35px;
  background-color: var(--color-bg-gray);
}

.c-pagination-black {
  width: 35px;
  height: 35px;
  background-color: var(--color-bg-black);
  color: var(--color-font-white);
}