@use "../global/" as g;

/*!
component > thumbnail
------------------------------
*/



.c-thumbnail {
  max-width: 324px;
  border-radius: 16px;

  @include g.min(md) {
      max-width: 344px;
  }
}

.c-thumbnail-large {
  max-width: 760px;
  background-color: var(--color-bg-gray-light);
  color: var(--color-font-gray);
  border-radius: 16px;
}